
.SiteBar {
  width: 250px;
  height: 100%;
  font-size: 14px;
  color: white;
  background-color:#3d3c4b;
  box-shadow: -15px -10px 30px black;
}

.SiteBar img {
  height: 17px; 
  margin-top: 2px;
  margin-right: 7px;
  margin-left: 10px;
}


.photouser {
  display: flex;
}

.icon img {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  align-content: center;
  border-radius: 200px;
  height: 75px;
}

.rang { 
  font-size: 15px;
  margin-top: 12px;
  margin-bottom: 15px;
  text-align: center;
}

.users, .admins, .campany, .icon, .zayvki, .zadanya, .campanys {
  border-bottom: 1px solid gainsboro;
  padding-bottom: 5px;
}

.spisok {
  display: flex;
  margin: 12px 24px ;
  color: gray;
}

.podspisok {
  flex: auto;
  align-items: center;
  display: flex;
}

.hov {  
  display: flex;
  height: 40px;
}

.hov:hover {
  background-color: rgb(43, 44, 63);
}


.sel1 { 
  width: 91%;
  margin: 15px 12px ;
}

.sel {
  margin-top: 9px;
  margin-bottom: 18px;
  padding-left: 10px;
  height: 50px;
  border-radius: 10px;
  width: 100%;
}

option {
  color: black;
  margin: 10px 20px;
}

a { 
  margin-left: 28px;
  text-decoration: none;
  color:white;
}




