.wrapper {
    flex: 7;
    display: flex;
    flex-direction: column;
    background-image: url(./../../pic/pizdec.png);
}

.head {
    display: flex;
    align-items: center;
    height: 130px;
    font-size: 37px;
    font-weight: bold;
    margin-left: 30px;
}

.list { display: flex;
    font-size: 25px;
    font-weight: bold;
    color: gray;
    justify-content: center;
    margin-top: 10px;
}

