.wrapper {
    flex: 7;
    display: flex;
    flex-direction: column;
    background-image: url(./../../pic/pizdec.png);
}

.head {
    margin-top: 45px;
    display: flex;
    flex: 2;
    
}

.admins {
    margin-left: 33px;
    font-size: 38px;
    font-weight: bold;
    color: rgb(61, 61, 61);
    flex: 3;
}

.button {
    
    margin-right: 20px;
    height: 100px;
    flex: 1;
}

button { 
    letter-spacing: 1px;
    font-size: 15px;
    border-radius: 8px;
    height: 50px;
    width: 100%;
    background-color:#3d3c4b;
    color: white;
    box-shadow: 0 5px 10px rgb(121, 121, 121);
}

.spisok {
    flex: 1;
}

.modul {    
    opacity: 0;
    /* opacity: 100%; */
    z-index: 5;
    width: 1000px;
    height: 500px;
    background: green;
}





