.wrapper {
    flex: 7;
    display: flex;
    flex-direction: column;
    background-image: url(./../../pic/pizdec2.png);
}


.head {
    display: flex;
    align-items: center;
    height: 130px;
    font-size: 37px;
    font-weight: bold;
    margin-left: 30px;
}

.search {
    display: flex;
}

.pochta {
    padding-top: 13px;
    margin-left: 30px;
    /* flex: auto; */
    align-items: center;
}

input {
    opacity: 50%;
    font-size: 17px;
    padding-left: 10px;
    margin-left: 10px;
    flex: 8;
    border-radius: 10px;
    border: rgb(180, 180, 180) solid 1px;
}

.button {   
    margin-left: 20px;
    margin-right: 20px;
    flex: 2;
}




